<a href="https://colab.research.google.com/github/kanchan2332/JS101_Learning_Javascript/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
_list =["a","b","c","a","a","d","%","^","*","d","c","c","*","%"]
_dict={}
count=0
for item in _list:
  if item in _dict:

    _dict[item]+=1
  else:
    _dict[item]=1
print(_dict)

{'a': 3, 'b': 1, 'c': 3, 'd': 2, '%': 2, '^': 1, '*': 2}

In [12]:
i=input()
n4=len(i)
print(n4//2)

radar
2

In [ ]:
# cotez series 6->3->10->5->16->8->4->2->1
num =int(input("ener a number"))

while num!=1:
  print(num,end="->")
  if num%2==0:
    num//=2
  else:
    num=num*3+1

ener a number6
6->3->10->5->16->8->4->2->

In [ ]:
n=int(input())
for i in range(1,n+1):
  j=str(i)
  print(f"{j*i}")

5
1
22
333
4444
55555

In [ ]:
_n1="2"
print(_n1*3)

222

In [ ]:
_list3=[23,45,67,89]
list4=[]
for i in _list3:

  for j in list(i):
    list4.append(j)
    print(list4)

TypeError: 'int' object is not iterable

In [ ]:
list1=["a","b","c"]
list2=[23,53,89]
_dict={}
for i,j in zip(list1,list2):
  _dict[i]=j
print(_dict)

{'a': 23, 'b': 53, 'c': 89}

In [ ]:
_list1=eval(input("enter a list"))#eval function exectes within questes lists item  take as inut
remove=input("enter item which you want to remove")
if remove in _list1:
  _list1.remove(remove)
print(_list1)

enter a list["car","bike"]
enter item which you want to removebike
['car']